services:
  postgres:
    image: postgres:13-alpine
    container_name: postgresql
    env_file:
      - .env
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  minio:
    image: quay.io/minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    env_file:
      - .env
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  backend:
    build: ./backend
    container_name: backend
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./backend:/app
      - backend_vendor:/app/vendor
    expose:
      - "9000"
    depends_on:
      - postgres
      - minio

  backend-nginx:
    image: nginx:alpine
    container_name: backend-nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./backend:/app
      - ./docker/nginx/backend.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  frontend:
    build: ./frontend
    container_name: frontend
    restart: unless-stopped
    ports:
      - "4200:80"
    depends_on:
      - backend-nginx

volumes:
  pgdata:
  minio_data:
  backend_vendor:
